<%-include partials/header.ejs%>
    <%-include partials/main_nav.ejs%>
    <div class="container">
        <h2>Contact us using the following details:</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="contact-detail">
                    <li>
                        <div>Phone Number:</div><div>647-327-0246</div>
                    </li>
                    <li>
                        <div>Email:</div><div>pwon1@my.centennialcollege.ca</div>
                    </li>
                </ul>
            </div>
        </div>
      </div>
  </body>
</html>
