<%-include partials/header.ejs%>
    <%-include partials/main_nav.ejs%>
    <ul class="projects">
        <li>
            <div class="project">
                <div>
                    <h1>Idiom World</h1>
                    <ul>
                        <li>e-learning platform</li>
                        <li>Responsive</li>
                        <li>ASP.NET MVC</li>
                        <li>C#</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
                <div>
                    <img height="300px" src="./Assets/images/idiom_world.png" />
                </div>
            </div>
        </li>
    </ul>
</body>
</html>
