body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.about-me {
  margin: 50px;
  display: grid;
  grid-template-columns: auto 250px;
}

.projects {
  list-style: none;
  margin: 50px;
}

.project {
  display: grid;
  grid-template-columns: auto 500px;
  padding: 1em;
}


.services {
  margin: 50px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  align-items: center;
  justify-items: center;
}

.services p {
  margin: 1em;
  display: block;
  text-align: center;
  font-size: large;
}