/**********************
 * File name: style.css
 * Name: Pak Wah WONG
 * StudentID: 301255741
 * Date: 2022.10.14
**********************/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.content {
  margin-left: 20px;
  margin-top: 20px;
}

.home {
  margin: 50px;
}

.about-me {
  margin: 50px;
  display: grid;
  grid-template-columns: auto 250px;
}

.projects {
  list-style: none;
  margin: 50px;
}

.project {
  display: grid;
  grid-template-columns: auto 500px;
  padding: 1em;
}

.services {
  margin: 50px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  align-items: center;
  justify-items: center;
}

.services p {
  margin: 1em;
  display: block;
  text-align: center;
  font-size: large;
}

.contact {
  margin: 50px;
}

.contact-detail {
  list-style: none;
}

.contact-detail li {
  display: grid;
  grid-template-columns: 8em auto;
}

#user_info {
  display: grid;
  grid-template-columns: 8em auto;
  grid-gap: 1em;
}